on:
 push:
   branches:
     - master
  



jobs:
  build:
    runs-on: ubuntu-latest

    steps: 
      - name: "github actions"
        run: ls 

      - uses: actions/checkout@v3

      - name : "docker login"
        run : docker login --username ${{secrets.DOCKER_ACCESS}} --password ${{secrets.DOCKER_PASS}}

